loadFirmasExcel_log

loadFormalizadasCSV_log

*.exe

*.xlsx

*.csv

*.xls

**loadFirmasExcel/*.exe

**loadFirmasExcel/*.xlsx

**loadFirmasExcel/*.xls


**loadFormalizadasCSV/*.exe

**loadFormalizadasCSV/*.csv