loadFirmasCSV_log
loadFormalizadasCSV_log

#any exe file in all repo
*.exe
*.xlsx
*.xls


loadFormalizadasCSV/*.csv
loadFormalizadasCSV/loadFormalizadasCSV

loadFirmasCSV/*.csv
loadFirmasCSV/loadFirmasCSV

nivoriacomp/*.csv
nivoriacomp/nivoriacomp_log
nivoriacomp/nivoriacomp

test/*
exercise/*

/bysidecar.code-workspace